[submodule "libs/upmem-legion"]
	path = libs/upmem-legion
	url = https://github.com/PrescienceLab/upmem-legion
[submodule "libs/simple-pim-clone"]
	path = libs/simple-pim-clone
	url = https://github.com/krasow/simple-pim-clone
